<div class="widgets-container">
    <mat-card class="widget">
      <mat-card-header>
        <mat-card-title>Page Views</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="counter">{{ pageviews }}</div>
      </mat-card-content>
    </mat-card>
  
    <!-- <mat-card class="widget">
      <mat-card-header>
        <mat-card-title>Events</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="counter">{{ events }}</div>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="widget">
      <mat-card-header>
        <mat-card-title>Users</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="counter">{{ users }}</div>
      </mat-card-content>
    </mat-card> -->
  </div>
  