<div class="overview-container">
  <gridster [options]="options" class="dashboard-grid">
    <gridster-item *ngFor="let item of dashboard" [item]="item">
      <ng-container [ngSwitch]="item.displayType">
        <app-table-card
          *ngSwitchCase="'table'"
          [endpoint]="item.endpoint ?? ''"
          [title]="item.title"
          [fromDate]="dateRange.fromDate"
          [toDate]="dateRange.toDate"
          [groupBy]="item.groupBy ?? ''"
          class="dashboard-card"
        >
        </app-table-card>

        <app-summary-card
          *ngSwitchCase="'summary'"
          [endpoint]="item.endpoint ?? ''"
          [title]="item.title"
          [toDate]="dateRange.toDate"
          class="dashboard-card"
        >
        </app-summary-card>

        <app-realtime-card
          *ngSwitchCase="'realtime'"
          [title]="item.title"
          [event]="item.event || ''"
          class="dashboard-card"
        >
        </app-realtime-card>
      </ng-container>
    </gridster-item>
  </gridster>
</div>
