# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Log files
logs/
*.log

# Build directories
dist/
build/
# public/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local

# Python related files
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
.venv/
venv/

# Temporary files
tmp/
temp/