<div class="auth-container">
  <div class="auth-card">
    <form [formGroup]="loginForm" class="form-group" (ngSubmit)="login()">
      <label>Email</label>
      <input matInput formControlName="email" placeholder="Enter email" type="email">
      <small class="errors" *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
        *Email is required
      </small>
      <small class="errors" *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">
        *Enter a valid email
      </small>

      <label>Password</label>
      <input matInput formControlName="password" placeholder="Enter password" type="password">
      <small class="errors" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
        *Password is required
      </small>

      <div class="errors" *ngIf="errorMessage">{{ errorMessage }}</div>

      <button class="login-button" type="submit" [disabled]="loginForm.invalid">
        Login
      </button>
    </form>

    <button class="return-button" (click)="back()">Go to Register</button>
  </div>
</div>
