<mat-card class="custom-card">
  <div class="card-header">
    <h3 class="card-title">{{ title }}</h3>
  </div>

  <div class="chart-container">
    <!-- initial loader when no chartData -->
    <div class="overlay-spinner" *ngIf="isLoading && !chartData">
      <div class="loading-spinner"></div>
    </div>

    <!-- chart -->
    <ng-container *ngIf="chartData">
      <canvas
        baseChart
        [data]="chartData"
        [options]="chartOptions"
        [type]="chartType"
      ></canvas>

      <!-- overlay loader when reloading data -->
      <div class="overlay-spinner" *ngIf="isLoading">
        <div class="loading-spinner"></div>
      </div>
    </ng-container>
  </div>
</mat-card>
