<mat-card class="custom-card">
  <div class="card-header">
    <h3 class="card-title">{{ title }}</h3>
  </div>
  <ng-container *ngIf="!isLoading; else loading">
    <div class="chart-container" *ngIf="chartData?.labels?.length; else noData">
      <canvas baseChart [data]="chartData" [options]="chartOptions" [type]="chartType"></canvas>
    </div>
  </ng-container>

  <ng-template #noData>
    <div class="no-data-message">
      <mat-icon>info</mat-icon>
      <p>No data available for the selected date range</p>
    </div>
  </ng-template>

  <ng-template #loading>
    <div class="overlay-spinner">
      <div class="loading-spinner"></div>
    </div>
  </ng-template>
</mat-card>