.sidenav-container {
    position: fixed;
    top: 90px;
    height: calc(100% - 90px);
    background-color: #D9F6F7;
    width: 15%;
}

.sidebar {
    padding: 16px;
    width: 100%;
    background-color: #6B7F97;
}

/* Links */
mat-nav-list a {
    vertical-align: middle;
    transition: background-color 0.2s ease;

    span {
        color: #D9D9D9;
    }

    .icon {
        color: #D9D9D9;
        margin-right: 8px;
        vertical-align: middle;
    }

    &.active {
        background-color: rgba(0, 0, 0, 0.1);
        font-weight: bold;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}