<gridster [options]="options" style="background-color: #D9F6F7; height: 100%;">
  <gridster-item *ngFor="let item of dashboard" [item]="item">
    <ng-container *ngIf="item.displayType === 'table'; else summaryView">
      <app-table-card
        [endpoint]="item.endpoint"
        [title]="item.title"
        [fromDate]="dateRange.fromDate"
        [toDate]="dateRange.toDate">
      </app-table-card>
    </ng-container>
    <ng-template #summaryView>
      <app-summary-card
        [endpoint]="item.endpoint"
        [title]="item.title"
        [toDate]="dateRange.toDate">
      </app-summary-card>
    </ng-template>
  </gridster-item>
</gridster>
