.layout {
  height: 100vh;
}

.body {
  width: 100%;
  height: calc(100vh - 90px);
  position: relative;
  top: 90px;
}

.main-content {
  position: absolute;
  width: 75%;
  height: 100%;
  left: 15%;
  padding: 16px 64px;
  transition: left 0.3s ease, width 0.3s ease;
}

.main-content.sidebar-collapsed {
  width: calc(100% - 72px);
  left: 72px;
}