.layout {
    height: 100vh;
}

.body {
    width: 100%;
    height: 100%;
}

.main-content {
    position: fixed;
    top: 90px;
    width: 75%;
    // header size (90px) and padding top and bottom(16px)
    height: calc(100% - 90px - 16px - 16px);
    left: 15%;
    padding: 16px 64px;
}