<div class="auth-container">
  <div class="auth-card">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          id="name"
          matInput
          formControlName="name"
          placeholder="Enter your name"
          type="text"
        />
        <small
          class="errors"
          *ngIf="
            registerForm.get('name')?.hasError('required') &&
            registerForm.get('name')?.touched
          "
        >
          *Name is required
        </small>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          matInput
          formControlName="email"
          placeholder="Enter email"
          type="email"
        />
        <small
          class="errors"
          *ngIf="
            registerForm.get('email')?.hasError('required') &&
            registerForm.get('email')?.touched
          "
        >
          *Email is required
        </small>
        <small
          class="errors"
          *ngIf="
            registerForm.get('email')?.hasError('email') &&
            registerForm.get('email')?.touched
          "
        >
          *Enter a valid email
        </small>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          matInput
          formControlName="password"
          placeholder="Enter password"
          type="password"
        />
        <small
          class="errors"
          *ngIf="
            registerForm.get('password')?.hasError('required') &&
            registerForm.get('password')?.touched
          "
        >
          *Password is required
        </small>
        <small
          class="errors"
          *ngIf="
            registerForm.get('password')?.hasError('minlength') &&
            registerForm.get('password')?.touched
          "
        >
          *Password must be at least 6 characters
        </small>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          id="confirmPassword"
          matInput
          formControlName="confirmPassword"
          placeholder="Confirm password"
          type="password"
        />
        <small
          class="errors"
          *ngIf="
            registerForm.get('confirmPassword')?.hasError('required') &&
            registerForm.get('confirmPassword')?.touched
          "
        >
          *Confirm Password is required
        </small>
        <small
          class="errors"
          *ngIf="
            registerForm.hasError('mismatch') &&
            registerForm.get('confirmPassword')?.touched
          "
        >
          *Passwords do not match
        </small>
      </div>

      <div class="errors" *ngIf="errorMessage">{{ errorMessage }}</div>

      <button type="submit" [disabled]="registerForm.invalid">Register</button>

      <p class="switch">
        Already have an account?
        <a routerLink="/login">Login</a>
      </p>
    </form>
  </div>
</div>
